<html>
<head>
    <title>info</title>
</head>
<body>
<footer id="footer" class="text-center" >
<!--<div style="color: antiquewhite;-->
    <!--background-color: #333333;">-->
    <!--<a href="/">Home</a> |-->
    <!--<a href="/users/add">Add New User</a> |-->
    <!--<a href="/users">All Users List</a>-->
<!--</div>-->
    <p>Copyright 2017 &copy; Fresh</p>
</footer>
</body>
</html>